.notes-list{
    display: grid;
    grid-gap: inherit;
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .notes-list{
        grid-template-columns: 300px;

    }
    
}